//@import './a/index';

// Add background layout
.app-home-level-menu-three-d-shapes-game-layout{
  .banner{
    //background-image: url('./../../assets/images/space/background.jpg');
  }
}

/* Sub game namespace */
.three-d-shapes-page{

  .names-page{
    .flex-container {
      border: .2vw solid #525731;
      height: 87%;
      width: 63%;
      position: absolute;
      left: 3%;
      top: 1%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #81885e;

      .img-content {
        display: flex;
        align-self: center;
        justify-content: center;
        height: 80%;
        width: 100%;
      }
    }

    .button-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-around;
      align-items: flex-start;
      left:66%;
      height: 75%;
      width: 33%;
      position: absolute;

      .button{
        display: flex;
        align-self: center;
        justify-content: center;
        height: 11%;
        width: 86%;
        font-size: 1.5vw;
        line-height: 2.3vw;
        position: relative;
      }
    }

  }
}