
/* Sub game one-kg */
.one-kg-page {

}

/* Sub game half-kg */
.half-kg-page {

  .pos-absolute{
    position: absolute;
  }

  .display-images {
    position: absolute;
  }

  .tick {
    position: absolute;
    right: 9.7%;
    top: 65.8%;
    width: 8%;
  }

  .move-disable {
    pointer-events: none;
  }

  .display-none{
    display: none;
  }
}