.two-dice-page{
  .dice-panel{
    margin-left: 13%;
    margin-top: 2%;
  }
  .input-content{
    width: 67.3%;
    height: 25%;
    margin-left: 16.4%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4%;
    border-radius: 1vw;
    background-color: #c0de94;
    box-shadow: 0.3vw 0 0.5vw -0.2vw hsla(0,0%,53%,.67);

    .input-box{
      width: 13%;
      height: 4.6vw;
      font-size: 3vw;
      text-align: center;
      margin-left: 1.9%;
      margin-right: 2.2%;
      margin-top: 0.3%;
    }
  }
  .left-dice-image{
    position: absolute;
    width: 20%;
    left: 28%;
    top: 9%;
  }
  .right-dice-image{
    position: absolute;
    width: 20%;
    left: 51%;
    top: 9%;
  }
  .check{
    width: 12%;
    position: absolute;
    bottom: 4%;
    left: 74%;
    z-index: 9;
    height: 3.5vw;
    line-height: 2.3;
  }
  .sign-box {
    width: 14%;
    height: 48%;
    margin-top: 4.1%;
    vertical-align: middle;
    text-align: center;
    border-radius: 22%;
    font-size: 2vw;
    font-weight: bold;
    color: #000000;


    .sign-text {
      font-size: 1vw;
      font-weight: bold;
      margin-top: -6%;
    }
    .symbol {
      margin-top: 1.7%;
    }
  }

  .blue-box {
    background-color: rgba(52, 152, 219, 0.83);
  }
  .red-box {
    background-color: rgb(255, 101, 0);
  }
}