<div class="counter-page">

    <work-area menu="menu" next="next" header="header" getscoreboard="getScoreboard" onnumberclick="onNumberClick">

        <!--Display jar image-->
        <game-images images="images"></game-images>

        <!--Display the circle image-->
        <div class="counter-container">
            <div class="circle-container circle-border" ng-repeat="val in ranger">
                <div class="circle" ng-hide="val<=randomCounters?false:true"
                     ng-style="{'background-color': colors[getCircleCount(val-1)],
                     'box-shadow' : shadowColors[getCircleCount(val-1)]}"></div>
                <div class="count">
                    <span ng-class="checkVisibility">{{val}}</span>
                </div>
            </div>
        </div>

        <!--Display show-hide button with text-->
        <div class="grid-btn" ng-click="showHideTable($event)">
            <!--Display the show-hide-button-->
            <game-images images="showHideButton" class="show-hide-button"></game-images>
            <!--Display show-hide button text-->
            <span class="hide-show">{{chartText}}</span>
        </div>

        <div class="reset-check-btn">
            <check-button class="check-btns" ng-click="check($event)" param="flag"></check-button>
            <div ng-if="!flag" class="redo-btns" ng-click="redo($event)"></div>
        </div>

        <!-- Display hint text -->
        <div class="hint-text" ng-bind-html="questionText"></div>

    </work-area>

</div>
