<div class="preloader spinner hidden">
    <div class="loader-container">

        <img ng-src="{{images[levelChange+'Left'].path}}" class="tadpole">

        <div class="spinner-content">
            <div class="loading-text">loading...</div>
            <div class="progress-container">
                <!--<div class="progress-bar" ng-style="{width: progress + '%'}"></div>-->
                <!-- Start of loading bar -->
                <div class="bar">
                    <span></span>
                </div>
                <!-- End of loading bar -->
            </div>
        </div>
        <img ng-src="{{images[levelChange+'Right'].path}}" class="frog">

    </div>
</div>
