<div class="block-page">

    <work-area menu="menu" next="next" header="header" getscoreboard="getScoreboard" onnumberclick="onNumberClick">

        <!--Display jar image-->
        <game-images images="images"></game-images>

        <!--Display random blocks-->
        <div ng-repeat="block in randomBlocks">
            <img class="{{randomBlockImages['block'+($index % 10)].cls}} block-image"
                 ng-src="{{randomBlockImages['block'+($index % 10)].path}}"
                 ng-style="{
                     position:'absolute','top': $index < 10 ? '20%' : '48%',
                     left:16.8 + (($index % 10) * 6.4) +'%',
                     width:'8.5%',
                     'z-index': 40 - $index
                 }">
        </div>

        <div class="reset-check-btn">
            <check-button class="check-btns" ng-click="check($event)" param="flag"></check-button>
            <div ng-if="!flag" class="redo-btns" ng-click="redo($event)"></div>
        </div>
        <!-- Display hint text -->
        <div class="hint-text" ng-bind-html="questionText"></div>

    </work-area>

</div>