/* @import './style'; */

// Add background layout
.app-home-level-menu-number-ordering-game-layout{

}

/* Sub game namespace */
.number-ordering-page{
  .in-order-page{

    .chart {
      position: absolute;
      left: 3%;
      top: 2%;
      border-collapse: collapse;
      border: 0.1vw solid #717842;
      width: 46%;
      height: 50%;
      z-index: 1;
      .row-chart {
        width: 4%;
        height: 4%;
        border: 0.15vw solid #717842;
        background-color: #b9c76a;
        color: #000000;
        font-weight: bold;
        padding: 0.22vh;
        text-align: center;
        font-size: 1.1vw;
        z-index: 3;
        cursor: pointer;
      }
    }
    .on-focus {
      background-color: #ffe680 !important;
    }
    .chart-help {
      position: absolute;
      left: 54%;
      top: 0%;
      text-align: center;
      width: 39.6%;
      height: 16%;
      color: #d96e4c;
      font-size: 1.4vw;
    }

    .input-box {
      position: absolute;
      width: 7%;
      height: 13%;
      margin: 1%;
    }
    .number{
      margin: 1%;
      position: relative;
      border-radius: 6px;
      background-color: #c0de94;
      box-shadow: 3px 0 5px 0 rgba(0,0,0,.21);
      width: 7%;
      line-height: 3.6vw;
      height: 3.6vw;
      font-size: 1.8vw;
      color: #1b4123;
      text-align: center;
    }

    .check-btns {
      position: absolute;
      top: 66%;
      left: 85.5%;
      height: 14%;
      width: 14%;
      cursor: pointer;
      z-index: 1;
    }
    .redo-btns {
      position: absolute;
      top: 66%;
      left: 85.5%;
      height: 13%;
      width: 13%;
      cursor: pointer;
      z-index: 1;
    }
  }

  // Game specific styles
}