.animal-page {
  .check-btns {
    position: absolute;
    top: 84%;
    left: 85.8%;
    height: 14%;
    width: 14%;
    cursor: pointer;
    z-index: 1;
  }

  .redo-btns {
    position: absolute;
    top: 84%;
    left:85.8%;
    height: 13%;
    width: 13%;
    cursor: pointer;
    z-index: 1;
  }
}
