<div class="long-page">
    <work-area menu="menu" next="next" getscoreboard="getScoreboard" header="header" onnumberclick="onNumberClick">
        <!-- Add images -->
        <div class="container">
            <img ng-repeat="block in flyImages"
                 class="image-item"
                 height="{{longImages['play'+block].height}}"
                 width="{{longImages['play'+block].width}}"
                 ng-style="{top: longImages['play'+block].top, left:longImages['play'+block].left}"
                 ng-src="{{longImages['play'+block].path}}">

            <img ng-repeat="images in drag track by ($index)"
                 class="drag"
                 id="pin"
                 drag-item
                 group="{{$index}}"
                 position="45,58"
                 ng-src="{{dragImage.path}}">{{images}}
        </div>

        <div class="question-container">
            <div class="question-box">
                <span class="float-left"><span class="text-left left-side">This bug is </span> </span>
                <input type="text" maxlength="2" id="input-1" value="{{inputValue}}" class="input-field"/>
                <span class="float-right"><span class="text-left right-side">paper clips long</span></span>
            </div>
        </div>

        <!--display check buttons-->
        <check-button class="check-btns" ng-click="check($event)" param="flag"></check-button>
        <div ng-if = "!flag" class="redo-btns" ng-click="redo($event)"></div>
        <!-- Display hint text -->
        <div class="hint-text" ng-bind-html="questionText"></div>
    </work-area>
</div>