
@mixin dotdotdot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-home-layout{
  .banner {
    //background-image: url('./../assets/images/backgrounds/welcome/background.jpg');
  }
  .work-area .hide-on-level-page{
    display: none;
  }

  .right-panel-menu {
    //animation: right-slide 1s;    
    right: -2%;
  }
  /*.bottom-panel-menu {  
    animation: bottom-slide 1s;   
    bottom: -0.6%;   
  }*/

   @keyframes bottom-slide {
      0% {
        bottom: -20.6%;
      }
      100% {
        bottom: -0.6%;
      }
    }
  @keyframes right-slide {
      0% {
        right: -16%;
      }
      100% {
        right: -2%;
      }
    }  
}


.home-page {

  .level-container {
    position: relative;
    width: 57%;    
  }
  .content {
    width: 100%;
  }

  .level-box {
    width: 95%;
    height: 2.5vw;
    //left: 4%;
    border-radius: 7px;
    margin-bottom: 1.5%;
    background: #619d43;
    color: #fff;
    cursor: pointer;
    line-height: 2.5vw;
    &:hover {
      background: #D74F39;
    }
  }

  .level-content-box {
    width: 98%;
    padding-left: 3.4%;

    .row.no-margin {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .text-header {
    width: 93%;
    color: #d96f4e;
    margin-top: -4%;
    position: absolute;
    margin-left: 0;
    .box {
      line-height: 3vw;
    }
    .box-0,
    .box-1 {
      font-size: 1.1vw;
    }
    .box-2,
    .box-3 {
      font-size: 0.9vw;
      @include dotdotdot;
    }
  }
  .header-font {
    font-size: 1.1vw;
    font-weight: bold;
  }
  .text-center {
    text-align: center;
  }
  .center {
    margin-top: -324px;
  }

  .level-bamboo {
    position: absolute;
    left: 3%;
    top: -2%;
    width: 94%;
  }

  .rainforest-logo {
    width: 84%;
    left: 7.6%;
    top: -20.7%;
    position: absolute;
  }

  .mathletics-logo {
    bottom: -18%;
    left: 44%;
    width: 13%;
    position: absolute;
  }

  .level-row {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    height: 45px;
    font-family: ABeeZee;
  }

  .text-container {
    font-size: 17px;
    color: #D96F4E;
    width: 69%;
    height: 30%;
    top: 146%;
    left: 15%;
    position: absolute;
  }

  .level-monkey {
    position: absolute;
    top: -22.5%;
    right: -7.4%;
    width: 12%;
    display: inline-block;
  }

  .level-text {
    position: absolute;
    top: -22.5%;
    left: 38.5%;
    width: 24%;
    display: inline-block;
  }

  .level-text{
    position: absolute;
    top: 14.5%;
    left: 38.5%;
    width: 24%;
  }
  .box {
    /*Todo : fix it later*/
    vertical-align: middle;
    font-family: ABeeZee;
    font-size: 1.1vw;
  }

  .row-0 {
    border: 1px solid green;
  }
  .col-xs-5 {
    max-width: 42%;
    flex-basis: 42%
  }
  .col-xs-1 {
    max-width: 7%;
    flex-basis: 7%
  }
  .col-xs-3 {
    max-width: 24.5%;
    flex-basis: 24.5%
  }

  .work-area {
    .game-body {
      top: 29%;
    }
  }
}
