<div class="closer-page">

    <work-area menu="menu" next="next" header="header">

        <div class="image-container">
            <game-images class="middle-item" images="images"></game-images>
            <img ng-repeat="block in animal" class="{{randomImages['closer'+$index].cls}}"
                 ng-style="{top: randomImages['closer'+block].top, left:randomImages['closer'+block].left}"
                 ng-src="{{randomImages['closer'+block].path}}"
                 width="{{randomImages['closer'+block].width}}"/>
        </div>

        <img ng-src="{{imageGrass.path}}" class="grass">

        <div ng-repeat="positions in dropZonePositions track by (dropZonePositions+$index)"
             drop-zone group="{{$index}}"
             class="drop-btn"
             id="drop{{$index}}"
             position="{{positions}}">
        </div>

        <div ng-repeat="name in dragItems"
             group="{{$index}}"
             id="button-drag-{{$index}}"
             class="pos-absolute drag-btn move-enable invisible"
             ng-style="{left:(30.6 +($index * 20.3)) + '%',top:'112.5%'}"
             drag-item>{{name}}
        </div>

        <img ng-repeat="position in tickPositions"
             class="tick"
             ng-src="{{signImages.tick.path}}"
             id="tick-{{$index}}"
             position="{{position}}">

        <!-- Display hint text -->
        <div class="hint-text" ng-bind-html="questionText"></div>

    </work-area>
</div>