@import './long/index.scss';
@import './tall/index.scss';
@import './metre/index.scss';
@import './longer/index.scss';
@import './taller/index.scss';
@import './closer/index.scss';
@import './metres/index.scss';

/* Game main namespace */
.length-page{

  .display-box{
    position: absolute;
    width: 12%;
    right: 3%;
    top: -15%;
  }

  .check-btns {
    position: absolute;
    top: 84%;
    left: 85.8%;
    height: 14%;
    width: 14%;
    cursor: pointer;
    z-index: 1;
  }

  .redo-btns {
    position: absolute;
    top: 84%;
    left: 85.8%;
    height: 13%;
    width: 13%;
    cursor: pointer;
    z-index: 1;
  }

  .question-box {
    position: absolute;
    width: 43%;
    height: 15%;
    top: 72%;
    left: 26%;
    border-radius: 1vh;
    background-color: #c0de94;

    .left-side {
      left: 3.5%;
    }
    .right-side {
      right: 1.5%;
    }

    .text-left {
      position: absolute;
      height: 5%;
      color: #1b4123;
      text-align: center;
      line-height: 4vw;
      font-size: 1.5vw;
    }

    .input-field {
      position: absolute;
      align-self: center;
      width: 2.99vw;
      font-size: 1.8vw;
      color: #1b4123;
      top: 4%;
      left: 53%;
      text-align: center;
      height: 2.95vw;
      border-radius: 6px;
      border: .15vw solid #9e9a9a;
      z-index: 1;
      outline: none;
      &:focus {
        outline: none;
        border: .15vw solid #707070;
        color: #1b4123;
      }
    }

    .left {
      left: 2.5%;
    }

    .right {
      right: 6.5%;
    }
  }

  .tick-cross {
    position: absolute;
    width: 8%;
    height: 18%;
    top: 60%;
    left: 81%;
  }

  .cross {
    position: absolute;
    top: 13%;
  }

  .grass {
    position: absolute;
    width: 93%;
    height: 10%;
    top: 50%;
    left: 3.4%;
  }

  .grass {
    position: absolute;
    width: 93%;
    height: 10%;
    top: 50%;
    left: 3.4%;
  }

  .tick {
    position: absolute;
    visibility: hidden;
    width: 8%;
  }

}
