<div class="python-patterns-page noselect">
    <work-area menu="menu" next="next" onnumberclick="onNumberClick" getscoreboard="getScoreboard" header="header">        

        <div class="hint-text question-text" ng-bind-html="questionHead"></div>

        <game-images images="images.bigSnake" class="big-snake"></game-images>

        <div class="question-box">
            <div class="center-content">
                <div id="input-label-{{$index}}" ng-repeat="num in numbers.left track by getUniqueId()"
                     class="input-labels">{{num}}
                </div>

                <input ng-repeat="num in numbers.right track by getUniqueId()" id="input-{{$index}}" 
                       class="input" ng-click="inputClick($index)" ng-focus="currentInput=$index" 
                       data-count="{{num}}" maxlength="2" ng-disabled="inputDisabled"/>
            </div>
        </div>

        <check-button class="check-btns" ng-click="check($event)" param="flag">
        </check-button>
        <div ng-if="!flag" class="redo-btns" ng-click="redo($event)">
        </div>

        <!--Display hint text-->
        <div class="hint-text" ng-bind-html="questionText"></div>
    </work-area>
</div>
