/* Sub game namespace */
.length-page {
  .closer-page {
    
    .image-container {
      position: absolute;
      margin-left: 25%;
      margin-top: 2%;
      width: 70%;
      height: 17vw;
      z-index: 1;
    }

    .middle-item {
      position: absolute;
      width: 6.6%;
      height: 17vw;
      left: 32%;
    }
  }
}