
/* Sub game namespace */
.more-count-page {  

  .block-image {
    width: 20.5%;
    height: 20%;

    .tick-cross {
      position: absolute;
      width: 8%;
      top: 68%;
      left: 46%;
    }

    .cross {
      position: absolute;
      top:8%;
    }
  
  }
 /* .bottom-panel-menu {         
    bottom: -20.6%;   
  }*/
}
