/* Sub game namespace */
.length-page {
  .longer-page {

    .middle-item {
      position: absolute;
      width: 20.5%;
      top: 36%;
      left: 3.9%;
      height: 11%;
    }

    .vertical {
      background-color: #52a328;
    }

    .tick-item-0 {
      left: 86%;
      top: 13%;
    }

    .tick-item-1 {
      left: 86%;
      top: 45%;
    }

    .drop-zone {
      height: 12%;
    }
  }
}
