.game-footer {
  width: 820px;
  height: 65px;
  background-color: #cc3333;
  color: #ffffff;
  font-family: cursive;
  font-weight: bold;
  cursor: default;
  font-size: 32px;
  position: absolute;
  bottom: 10px;
}
