.scoreboard-container {
  .scoreboard {
    color: #000;
    margin-top: -61%;
    margin-left: 26%;
    width: 50%;
    font-weight: 700;
    font-size: 2.3vw;
  }
  .scoreboard-background{
  	width: 6.7vw;
  }
   
}
